* {
    font: 11px "Lucida Console", Monaco, monospace;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;    
}
section {
    display: flex;
    flex-grow: 1;
}
#left_side {
    min-width: 280px;
    display: flex;
    flex-direction: column; 
}
#search_bar {
    display: flex;
}
#search_bar>select {
    flex-grow: 1;
}
#left_side>form>input[type='date'] {        
    width: 136px;
}
#left_side>textarea {
    width: 100%;
    min-height: 250px;
}
#table {
    overflow: auto;
    flex-grow: 1;
}
#table>table {
    border-collapse: collapse;
    width: 100%;
}
canvas {
    border: 1px solid lightgrey;
}