@CHARSET "ISO-8859-1";
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    /*height: auto !important;*/
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer{
    height: 50px; /* .push must be the same height as .footer */
}
.left-side {
	float:left;
	width: 300px; 
}
.right-side {
    float: left;
    height: 100%;
    margin-bottom: -50px;
    width: 350px;
}
table {
    font-size: smaller;
    border: 1px solid black;
    border-collapse: collapse;
}
textarea {
    width: 100%;
    height: 320px;
}
input[type=submit] {
    float:right;
}
label {
    font-family: monospace;
    font-size: smaller;
}